
$branco: #dcdfdf;
$azulEscuro: #5a86ab;
$azulClaro: #b5c3d0;
$azulMedio: #9ab2c6;
$azulClaroHover: #87a0b7;
$azulMaisEscuro: #3b444c;
$verdeEscuro: #233828;
$verdeMaisClaro: #8cc63f;
$verdeQuaseBranco: #bff775;
$verdeClaro: #73923f;
$sky: #69b3e6;

$red: #A31919;
$redHover: #990000;
