@import '_variaveis.scss';


p{
	font-size: 1.1em !important;
}

.login{
	margin: 2em 0;
	.form{
		margin-top: 2em;
	}
}

.logout{
	color: white;
	padding: 1rem 2rem;
	background: $red;
	transition: 200ms ease all;
	border-radius: 5px;
	text-transform: uppercase;
	display: inline-block;
	margin: 1em 0;

	&:active, &:visited{
		color: white;
	}

	&:hover{
		background: $redHover;
		color: $branco;
		box-shadow: 0 4px 6px rgba(0,0,0,0.2);
	}
}

.usuario-logado{
	margin: 1em 0;
	&:after{
		content: '';
		display: block;
		margin: 0.2em auto;
		width: 60px;
		height: 3px;
		background: $azulClaro;
	}
}

.lista-contato{
	.striped{
		padding: 0.5em 0.2em;
		border-radius: 10px;
		margin-top: 1em;
		color: $azulMaisEscuro;
		&:nth-of-type(even){
			background-color: $azulClaro;
		}
	}
}

.change-fade{
	color: white;
	background: $azulEscuro;
	padding: 1rem 2rem;
	transition: 200ms ease all;
	text-transform: uppercase;
	margin: 1em 0;
	border-radius: 5px;
	outline: none;
	
	&:active, &:visited{
		color: white;
	}

	&:hover{
		background: $azulMaisEscuro;
	}
}

@media screen and (max-width: 768px){
	.form{
		.input, .send{
			width: 95%;
		}
	}
}