@import '_variaveis.scss';

@media screen and(max-width: 1200px){
	.header{
		&:after{
			height: 60px;
		}

		.icon-nuvem-1{
			left: 15%;
		}

		.icon-nuvem-2{
			right: 10%;
		}
	}

	@keyframes move{
	0%{transform: translateX(0);}
	50%{transform: translateX(-20%);}
	100%{transform: translateX(0);}
	}

	@keyframes moveSecond{
		0%{transform: translateX(0);}
		50%{transform: translateX(15%);}
		100%{transform: translateX(0);}
	}
}

@media screen and(max-width: 990px){
	.header{
		&:after{
			height: 60px;
		}
	}

	.sm-menos-altura{
		height: 40vh;
	}
}

@media screen and(max-width: 768px){
	
	.hide-mobile{
		display: none;
	}
	
	p{
		text-align: center;
	}

	.brand{
		display: none;
	}
	.menu{
		text-align: center;
	}
	
	.intro-icons{
		width: 100%;
		display: block;
		margin: 0.5em 0;
	}

	.flex{

		&.active{
			margin-top: 1em;
			.flex-esquerda, .flex-direita{
				width: 100%;
				opacity: 1;
				visibility: visible;
				height: 100%;
				transition: height 200ms, opacity 200ms;

				li{
					margin-bottom: 1em;
					background: $azulEscuro;
					width: 100%;
					border-radius: 5px;

					.btn{
						font-size: 1.5em;
						background: transparent;
						box-shadow: none;
						transition: font-size 200ms;

						&:hover{
							color: $azulClaro;
						}
					}
				}
			}

		}

		flex-direction: column;

		.flex-esquerda, .flex-direita{
			height: 0;
			opacity: 0;
			visibility: hidden;
			transition: 200ms linear all;
			li{
				display: block;
				text-align: center;

				.btn{
					font-size: 0px;
				}
			}
		}
	}

	.burger{
		display: inline-block;
		color: $branco;
		width: 50px;
		height: 50px;
		position: relative;
		text-transform: uppercase;
		font-size: 2em;
		background: $azulEscuro;
		margin: 0 auto;
		border-radius: 5px;
		padding: 0.2em 0.5em;

		&.open{
			&:before{
				height: 5px;
				background: white;
				border: none;
				transform: rotate(-45deg);
    			top: 23px;
			}

			&:after{
				transform: rotate(45deg);
			}
		}

		&:before{
			content: '';
			width: 40px;
			height: 30px;
			top: 10px;
			left: 5px;
			border-top: 5px solid white;
			border-bottom: 5px solid white;
			position: absolute;
			transition: 200ms ease all;
		}

		&:after{
			content: '';
			width: 40px;
			height: 5px;
			background: white;
			position: absolute;
			top: 23px;
			left: 5px;
			transition: 200ms ease all;
		}
	}	

	.btn{
		text-transform: uppercase;
		font-weight: bold;
	}

	.header{
		height: 75vh;
		&:after{
			height: 25px;
		}

		.header-logo{
			top: 40%;
			max-width: 90%;
		}
	}

	.form{
		.input, .send{
			width: 95%;
		}
	}

	.social{
		margin: 2em 0 0.5em 0;
	}

	.footer{
		div[class^="icon"]{
			margin: 1em auto;
		}

		.icon-logo-ifsul{
			background-position: -324px -423px;
		}

		.icon-logo-sanep{
			display: inherit;
		}
	}
}

@media screen and(min-width: 768px){
	.menu{
		transform: translateY(-100%);
		transition: transform 500ms;
		&.scrolled{
			transform: translateY(0);
		}
	}

	.empurra-direita{
		float: right;
	}

	.intro-icons{
	transition: transform 1s;

		&:hover{
			transform: rotate(-360deg);
		}
	}

}