@import '_variaveis.scss';

@font-face{
	font-family: 'Rajdhani';
	src: url('../fonts/Rajdhani-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'SegoeUi';
	src: url('../fonts/segoeui.ttf') format('truetype');
}

body{
	background: $branco;
	font-family: 'Rajdhani', sans-serif;
}

img{
	max-width: 100%;
}

.uppercase{
	text-transform: uppercase;
	margin: 0.2em 0;
	font-size: 1.5em;
    font-weight: bold;

    &:after{
    	content: '';
    	display: block;
    	width: 30px;
    	height: 3px;
    	background: $verdeEscuro;
    	margin: 0.5em auto;
    }
}

.margin{
	margin: 1em 0;
}

@keyframes move{
	0%{transform: translateX(0);}
	50%{transform: translateX(-40%);}
	100%{transform: translateX(0);}
}

@keyframes moveSecond{
	0%{transform: translateX(0);}
	50%{transform: translateX(30%);}
	100%{transform: translateX(0);}
}

@keyframes opacity{
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeInOut{
	0%{opacity: 0;}
	10%{opacity: 1;}
	100%{opacity:0;}
}

.modal{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $verdeEscuro;
	display: none;
	visibility: hidden;

		&.active{
			display: flex;
			animation: opacity 200ms ease;
			visibility: visible;
			opacity: 1;
		}

		.modal-content{
			background: $verdeQuaseBranco;
			padding: 2em;
			text-align: center;
			border-radius: 10px;
			position: relative;
			color: $verdeEscuro;
			box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
			
			&.falha{
				background: $red;
				color: white;

				.modal-close{
					&:before, &:after{
						background: white;
					}
				}
			}

			.modal-close{
				position: absolute;
				width: 50px;
				height: 50px;
				top: 1.5em;
				right: 1.5em;
				background: transparent;
				cursor: pointer;

				&:before, &:after{
					content: '';
					width: 100%;
					height: 3px;
					background-color: $verdeEscuro;
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					margin-top: 0.5em;
				}

				&:before{
					transform: rotate(45deg);
				}

				&:after{
					transform: rotate(-45deg);
				}
			}
		}

		.modal-texto{
			padding: 1em;
		}
}

a{
	text-decoration: none;
	&:hover, &:active, &:visited, &:link, &:focus{
		text-decoration: none;
		outline: none;	
	}
}

::selection {
	background-color: $verdeEscuro;
	color: $verdeQuaseBranco;
}

::-moz-selection {
  background: $verdeEscuro; 
  color: $verdeQuaseBranco;
}

::-webkit-scrollbar{
	display: none;
}


ul{
	margin: 0;
	list-style: none;
	padding: 0;
}

p{
	font-size: 1.5em;
	font-family: 'SegoeUi';
}

.text-center{
	text-align: center;
}

.subtitle{
	font-size: 1.8em;
    margin: 0.5em;
    &.plus{
    	font-size: 2.4em;
    }
}

#mapa{
	width: 100%;
	height: 60vh;
	box-shadow: 1px 4px 6px rgba(0,0,0,0.2);
}

.bold{
	font-weight: bold;
}

.after{
	&:after{
		content: '';
		display: block;
		width: 60px;
		height: 3px;
		background-color: $verdeEscuro;
		margin: 0.2em auto;
	}
}

.section-title{
	font-size: 2.5em;
	text-transform: uppercase;
}

.download-btn{
	width: 100%;
	height: 100%;
	border-radius: 50px;
	background-color: white;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid $verdeClaro;
	transition: 500ms ease all;

	&:hover{
		box-shadow: 0 6px 10px rgba(35, 56, 40, 0.5);
		background-size: 70%;
		border: 2px solid white;
	}
}

.header{
	height: 100vh;
	background: $sky;
	position: relative;
	
	&:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 80px;
		width: 100%;
		background-image: url('../img/grass.svg');
		background-size: contain;
		background-position: left;
		background-repeat: repeat-x;
		filter: drop-shadow(2px -5px 4px rgba(53, 86, 114,0.3));
	}

	.header-logo{
		position: absolute;
		top: calc(50% - 244px);
		left: 50%;
		transform: translateX(-50%);
	}

	.icon-nuvem-1, .icon-nuvem-2{
		position: absolute;
		filter: drop-shadow(0 12px 6px rgba(35, 56, 40, 0.3));
	}

	.icon-nuvem-1{
		top: 35%;
		left: 25%;
		animation: move 22s infinite;
	}

	.icon-nuvem-2{
		top: 20%;
		right: 15%;
		animation: moveSecond 20s infinite;
	}
}

.section{
	width: 100%;
	padding: 2em;
	background-color: $branco;
	color: $azulEscuro;

	.section-title{
		color: $verdeEscuro;
		text-shadow: 1px 2px $verdeClaro;
	}

	&.verde{
		background-color: $verdeMaisClaro;
		color: $verdeEscuro;

		.section-title{
			color: $verdeQuaseBranco;
			text-shadow: 1px 2px $verdeClaro;
		}

		&.inverse{
			background-color: $verdeEscuro;
			color: $verdeClaro;

			.section-title{
				color: $verdeQuaseBranco;
				text-shadow: 1px 2px $verdeClaro;
			}
		}
	}

	&.azul{
		background-color: $azulClaro;
		color: $azulEscuro;
		
		.section-title{
			color: $sky;
			text-shadow: 1px 2px $azulEscuro;
		}

		&.inverse{
			background-color: $azulEscuro;
			color: $azulClaro;

			.section-title{
				color: $azulClaro;
				text-shadow: 1px 2px $azulMaisEscuro;
			}
		}
	}
}

.brand{
	justify-self: center;
	overflow: hidden;
	.logo-text{
		cursor: pointer;
		margin: 0;
		font-size: 2em;
		text-shadow: 0 2px $azulEscuro; 
	}
}

.intro-icons{
	display: inline-block;
	width: calc(33% - 2px);
	text-align: center;
}

.section{
	width: 100%;
	padding: 2em 0 4em 0;
}

.btn{
	padding: 0.3em 0.5em;
	text-decoration: none;
	color: $branco;
	font-size: 1.5em;
	border-radius: 10px;
	transition: 200ms linear all;
	text-decoration: none;
	&:active, &:visited{
		text-decoration: none;
	}
	&:hover{
		color: white;
		background: #87a0b7;
		text-shadow: 0 1px $azulEscuro;
		box-shadow: inset 0 2px 3px rgba(90, 134, 171,1), 0 2px 0 rgba(255,255,255,0.4);
	}

	&:focus{
		color: white;
	}
}


.menu{
	width: 100%;
	padding: 1.2em 0;
	background: $azulMedio;
	border-bottom: 2px solid $azulEscuro;
	color: $branco;
	position: fixed;
	z-index: 3;
}

.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.flex-esquerda, .flex-direita{
		li{
			display: inline-block;
		}
	}
}

.burger{
	display: none;
}

.flex-center{
	width: 100%;
	height: 45vh;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.form{

	&.js-form-invalid{
		.input:invalid{
			border: 2px solid red;
		}
	}

	.input, .send{
		display: block;
		padding: 1rem;
		width: 30%;
		border-radius: 15px;
		outline: none;
	}

	.input{
		background: white;
		border: 2px solid white;
		color: $azulMaisEscuro;
		margin: 0 auto 1em auto;
		transition: border 200ms;
		font-family: 'SegoeUi', sans-serif;
		
		&.textarea{
			resize: vertical;
			border-radius: 20px;
		}

		&:focus{
			border: 2px solid $azulMaisEscuro;
		}
	}
	

	.send{
		background: $azulMaisEscuro;
		border: 2px solid $azulMaisEscuro;
		color: $branco;
		margin: 0 auto;
		transition: 200ms ease all;

		&:disabled{
			color: gray;
			border: 2px solid lightgray;
			background: lightgray;

			&:hover{
				color: gray;
				border: 2px solid lightgray;
				background: lightgray;
			}
		}

		&:hover{
			background: $sky;
			border: 2px solid $sky;
			color: $azulMaisEscuro;
		}
	}

}

.video{
	height: 35vh;
	overflow: hidden;
	border-top: 2px solid $azulMaisEscuro;
	border-bottom: 2px solid $verdeEscuro;
}

.footer{
	p{
		font-size: 1.4em;
		margin: 0.5em 0;
	}

	.social{
		text-align: center;

		.social-icon{
			display: inline-block;
			width: calc(33.3% - 3px);
			font-size: 4em;
			color: $verdeEscuro;

			a{
				width: 100%;
				height: 100%;
				&:visited, &:link{
					color: $verdeEscuro;
				}

				&:hover{
					.fa{
						color: $verdeQuaseBranco;
						transition: 200ms ease all;
					}
				}
			}
		}
	}

	div[class^="icon"]{
		margin: 0.2em 0;
	}
}

.copyright{
	width: 100%;
	text-align: center;
	padding: 1em;

	p{
		margin: 0;
	}
}


.error{
	color: $red;
	animation: fadeInOut 15s ease;
}

.fade{
	animation: opacity 2s;
}