p {
  font-size: 1.1em !important; }

.login {
  margin: 2em 0; }
  .login .form {
    margin-top: 2em; }

.logout {
  color: white;
  padding: 1rem 2rem;
  background: #A31919;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0; }
  .logout:active, .logout:visited {
    color: white; }
  .logout:hover {
    background: #990000;
    color: #dcdfdf;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); }

.usuario-logado {
  margin: 1em 0; }
  .usuario-logado:after {
    content: '';
    display: block;
    margin: 0.2em auto;
    width: 60px;
    height: 3px;
    background: #b5c3d0; }

.lista-contato .striped {
  padding: 0.5em 0.2em;
  border-radius: 10px;
  margin-top: 1em;
  color: #3b444c; }
  .lista-contato .striped:nth-of-type(even) {
    background-color: #b5c3d0; }

.change-fade {
  color: white;
  background: #5a86ab;
  padding: 1rem 2rem;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  text-transform: uppercase;
  margin: 1em 0;
  border-radius: 5px;
  outline: none; }
  .change-fade:active, .change-fade:visited {
    color: white; }
  .change-fade:hover {
    background: #3b444c; }

@media screen and (max-width: 768px) {
  .form .input, .form .send {
    width: 95%; } }
