@media screen and (max-width: 1200px) {
  .header:after {
    height: 60px; }
  .header .icon-nuvem-1 {
    left: 15%; }
  .header .icon-nuvem-2 {
    right: 10%; }
  @-webkit-keyframes move {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    50% {
      -webkit-transform: translateX(-20%);
      transform: translateX(-20%); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @keyframes move {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    50% {
      -webkit-transform: translateX(-20%);
      transform: translateX(-20%); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @-webkit-keyframes moveSecond {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    50% {
      -webkit-transform: translateX(15%);
      transform: translateX(15%); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @keyframes moveSecond {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    50% {
      -webkit-transform: translateX(15%);
      transform: translateX(15%); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } } }

@media screen and (max-width: 990px) {
  .header:after {
    height: 60px; }
  .sm-menos-altura {
    height: 40vh; } }

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none; }
  p {
    text-align: center; }
  .brand {
    display: none; }
  .menu {
    text-align: center; }
  .intro-icons {
    width: 100%;
    display: block;
    margin: 0.5em 0; }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .flex.active {
      margin-top: 1em; }
      .flex.active .flex-esquerda, .flex.active .flex-direita {
        width: 100%;
        opacity: 1;
        visibility: visible;
        height: 100%;
        -webkit-transition: height 200ms, opacity 200ms;
        transition: height 200ms, opacity 200ms; }
        .flex.active .flex-esquerda li, .flex.active .flex-direita li {
          margin-bottom: 1em;
          background: #5a86ab;
          width: 100%;
          border-radius: 5px; }
          .flex.active .flex-esquerda li .btn, .flex.active .flex-direita li .btn {
            font-size: 1.5em;
            background: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition: font-size 200ms;
            transition: font-size 200ms; }
            .flex.active .flex-esquerda li .btn:hover, .flex.active .flex-direita li .btn:hover {
              color: #b5c3d0; }
    .flex .flex-esquerda, .flex .flex-direita {
      height: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 200ms linear all;
      transition: 200ms linear all; }
      .flex .flex-esquerda li, .flex .flex-direita li {
        display: block;
        text-align: center; }
        .flex .flex-esquerda li .btn, .flex .flex-direita li .btn {
          font-size: 0px; }
  .burger {
    display: inline-block;
    color: #dcdfdf;
    width: 50px;
    height: 50px;
    position: relative;
    text-transform: uppercase;
    font-size: 2em;
    background: #5a86ab;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0.2em 0.5em; }
    .burger.open:before {
      height: 5px;
      background: white;
      border: none;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 23px; }
    .burger.open:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .burger:before {
      content: '';
      width: 40px;
      height: 30px;
      top: 10px;
      left: 5px;
      border-top: 5px solid white;
      border-bottom: 5px solid white;
      position: absolute;
      -webkit-transition: 200ms ease all;
      transition: 200ms ease all; }
    .burger:after {
      content: '';
      width: 40px;
      height: 5px;
      background: white;
      position: absolute;
      top: 23px;
      left: 5px;
      -webkit-transition: 200ms ease all;
      transition: 200ms ease all; }
  .btn {
    text-transform: uppercase;
    font-weight: bold; }
  .header {
    height: 75vh; }
    .header:after {
      height: 25px; }
    .header .header-logo {
      top: 40%;
      max-width: 90%; }
  .form .input, .form .send {
    width: 95%; }
  .social {
    margin: 2em 0 0.5em 0; }
  .footer div[class^="icon"] {
    margin: 1em auto; }
  .footer .icon-logo-ifsul {
    background-position: -324px -423px; }
  .footer .icon-logo-sanep {
    display: inherit; } }

@media screen and (min-width: 768px) {
  .menu {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms; }
    .menu.scrolled {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  .empurra-direita {
    float: right; }
  .intro-icons {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .intro-icons:hover {
      -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      transform: rotate(-360deg); } }
