/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-logo-ifsul {
  background-image: url(../img/coleta-site-sprite.png);
  background-position: -276px -423px;
  width: 315px;
  height: 64px;
  display: inline-block;
  max-width: 100%;
}
.icon-logo-sanep {
  background-image: url(../img/coleta-site-sprite.png);
  background-position: 0px -560px;
  width: 240px;
  height: 80px;
  display: inline-block;
  max-width: 100%;
}
.icon-metal {
  background-image: url(../img/coleta-site-sprite.png);
  background-position: -420px 0px;
  width: 200px;
  height: 200px;
  display: inline-block;
  max-width: 100%;
}
.icon-nuvem-1 {
  background-image: url(../img/coleta-site-sprite.png);
  background-position: 0px -423px;
  width: 276px;
  height: 137px;
  display: inline-block;
  max-width: 100%;
}
.icon-nuvem-2 {
  background-image: url(../img/coleta-site-sprite.png);
  background-position: 0px 0px;
  width: 420px;
  height: 223px;
  display: inline-block;
  max-width: 100%;
}
.icon-organico {
  background-image: url(../img/coleta-site-sprite.png);
  background-position: 0px -223px;
  width: 200px;
  height: 200px;
  display: inline-block;
  max-width: 100%;
}
.icon-papel {
  background-image: url(../img/coleta-site-sprite.png);
  background-position: -200px -223px;
  width: 200px;
  height: 200px;
  display: inline-block;
  max-width: 100%;
}
.icon-plastico {
  background-image: url(../img/coleta-site-sprite.png);
  background-position: -400px -223px;
  width: 200px;
  height: 200px;
  display: inline-block;
  max-width: 100%;
}
.icon-vidro {
  background-image: url(../img/coleta-site-sprite.png);
  background-position: -620px 0px;
  width: 200px;
  height: 200px;
  display: inline-block;
  max-width: 100%;
}
