@font-face {
  font-family: 'Rajdhani';
  src: url("../fonts/Rajdhani-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SegoeUi';
  src: url("../fonts/segoeui.ttf") format("truetype"); }

body {
  background: #dcdfdf;
  font-family: 'Rajdhani', sans-serif; }

img {
  max-width: 100%; }

.uppercase {
  text-transform: uppercase;
  margin: 0.2em 0;
  font-size: 1.5em;
  font-weight: bold; }
  .uppercase:after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #233828;
    margin: 0.5em auto; }

.margin {
  margin: 1em 0; }

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes moveSecond {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(30%);
    transform: translateX(30%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes moveSecond {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(30%);
    transform: translateX(30%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeInOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #233828;
  display: none;
  visibility: hidden; }
  .modal.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: opacity 200ms ease;
    animation: opacity 200ms ease;
    visibility: visible;
    opacity: 1; }
  .modal .modal-content {
    background: #bff775;
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: #233828;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
    .modal .modal-content.falha {
      background: #A31919;
      color: white; }
      .modal .modal-content.falha .modal-close:before, .modal .modal-content.falha .modal-close:after {
        background: white; }
    .modal .modal-content .modal-close {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 1.5em;
      right: 1.5em;
      background: transparent;
      cursor: pointer; }
      .modal .modal-content .modal-close:before, .modal .modal-content .modal-close:after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #233828;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        margin-top: 0.5em; }
      .modal .modal-content .modal-close:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .modal .modal-content .modal-close:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .modal .modal-texto {
    padding: 1em; }

a {
  text-decoration: none; }
  a:hover, a:active, a:visited, a:link, a:focus {
    text-decoration: none;
    outline: none; }

::-moz-selection {
  background-color: #233828;
  color: #bff775; }

::selection {
  background-color: #233828;
  color: #bff775; }

::-moz-selection {
  background: #233828;
  color: #bff775; }

::-webkit-scrollbar {
  display: none; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

p {
  font-size: 1.5em;
  font-family: 'SegoeUi'; }

.text-center {
  text-align: center; }

.subtitle {
  font-size: 1.8em;
  margin: 0.5em; }
  .subtitle.plus {
    font-size: 2.4em; }

#mapa {
  width: 100%;
  height: 60vh;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2); }

.bold {
  font-weight: bold; }

.after:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #233828;
  margin: 0.2em auto; }

.section-title {
  font-size: 2.5em;
  text-transform: uppercase; }

.download-btn {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: white;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #73923f;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all; }
  .download-btn:hover {
    -webkit-box-shadow: 0 6px 10px rgba(35, 56, 40, 0.5);
    box-shadow: 0 6px 10px rgba(35, 56, 40, 0.5);
    background-size: 70%;
    border: 2px solid white; }

.header {
  height: 100vh;
  background: #69b3e6;
  position: relative; }
  .header:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-image: url("../img/grass.svg");
    background-size: contain;
    background-position: left;
    background-repeat: repeat-x;
    -webkit-filter: drop-shadow(2px -5px 4px rgba(53, 86, 114, 0.3));
    filter: drop-shadow(2px -5px 4px rgba(53, 86, 114, 0.3)); }
  .header .header-logo {
    position: absolute;
    top: -webkit-calc(50% - 244px);
    top: calc(50% - 244px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .header .icon-nuvem-1, .header .icon-nuvem-2 {
    position: absolute;
    -webkit-filter: drop-shadow(0 12px 6px rgba(35, 56, 40, 0.3));
    filter: drop-shadow(0 12px 6px rgba(35, 56, 40, 0.3)); }
  .header .icon-nuvem-1 {
    top: 35%;
    left: 25%;
    -webkit-animation: move 22s infinite;
    animation: move 22s infinite; }
  .header .icon-nuvem-2 {
    top: 20%;
    right: 15%;
    -webkit-animation: moveSecond 20s infinite;
    animation: moveSecond 20s infinite; }

.section {
  width: 100%;
  padding: 2em;
  background-color: #dcdfdf;
  color: #5a86ab; }
  .section .section-title {
    color: #233828;
    text-shadow: 1px 2px #73923f; }
  .section.verde {
    background-color: #8cc63f;
    color: #233828; }
    .section.verde .section-title {
      color: #bff775;
      text-shadow: 1px 2px #73923f; }
    .section.verde.inverse {
      background-color: #233828;
      color: #73923f; }
      .section.verde.inverse .section-title {
        color: #bff775;
        text-shadow: 1px 2px #73923f; }
  .section.azul {
    background-color: #b5c3d0;
    color: #5a86ab; }
    .section.azul .section-title {
      color: #69b3e6;
      text-shadow: 1px 2px #5a86ab; }
    .section.azul.inverse {
      background-color: #5a86ab;
      color: #b5c3d0; }
      .section.azul.inverse .section-title {
        color: #b5c3d0;
        text-shadow: 1px 2px #3b444c; }

.brand {
  justify-self: center;
  overflow: hidden; }
  .brand .logo-text {
    cursor: pointer;
    margin: 0;
    font-size: 2em;
    text-shadow: 0 2px #5a86ab; }

.intro-icons {
  display: inline-block;
  width: -webkit-calc(33% - 2px);
  width: calc(33% - 2px);
  text-align: center; }

.section {
  width: 100%;
  padding: 2em 0 4em 0; }

.btn {
  padding: 0.3em 0.5em;
  text-decoration: none;
  color: #dcdfdf;
  font-size: 1.5em;
  border-radius: 10px;
  -webkit-transition: 200ms linear all;
  transition: 200ms linear all;
  text-decoration: none; }
  .btn:active, .btn:visited {
    text-decoration: none; }
  .btn:hover {
    color: white;
    background: #87a0b7;
    text-shadow: 0 1px #5a86ab;
    -webkit-box-shadow: inset 0 2px 3px #5a86ab, 0 2px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 2px 3px #5a86ab, 0 2px 0 rgba(255, 255, 255, 0.4); }
  .btn:focus {
    color: white; }

.menu {
  width: 100%;
  padding: 1.2em 0;
  background: #9ab2c6;
  border-bottom: 2px solid #5a86ab;
  color: #dcdfdf;
  position: fixed;
  z-index: 3; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .flex .flex-esquerda li, .flex .flex-direita li {
    display: inline-block; }

.burger {
  display: none; }

.flex-center {
  width: 100%;
  height: 45vh;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.form.js-form-invalid .input:invalid {
  border: 2px solid red; }

.form .input, .form .send {
  display: block;
  padding: 1rem;
  width: 30%;
  border-radius: 15px;
  outline: none; }

.form .input {
  background: white;
  border: 2px solid white;
  color: #3b444c;
  margin: 0 auto 1em auto;
  -webkit-transition: border 200ms;
  transition: border 200ms;
  font-family: 'SegoeUi', sans-serif; }
  .form .input.textarea {
    resize: vertical;
    border-radius: 20px; }
  .form .input:focus {
    border: 2px solid #3b444c; }

.form .send {
  background: #3b444c;
  border: 2px solid #3b444c;
  color: #dcdfdf;
  margin: 0 auto;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all; }
  .form .send:disabled {
    color: gray;
    border: 2px solid lightgray;
    background: lightgray; }
    .form .send:disabled:hover {
      color: gray;
      border: 2px solid lightgray;
      background: lightgray; }
  .form .send:hover {
    background: #69b3e6;
    border: 2px solid #69b3e6;
    color: #3b444c; }

.video {
  height: 35vh;
  overflow: hidden;
  border-top: 2px solid #3b444c;
  border-bottom: 2px solid #233828; }

.footer p {
  font-size: 1.4em;
  margin: 0.5em 0; }

.footer .social {
  text-align: center; }
  .footer .social .social-icon {
    display: inline-block;
    width: -webkit-calc(33.3% - 3px);
    width: calc(33.3% - 3px);
    font-size: 4em;
    color: #233828; }
    .footer .social .social-icon a {
      width: 100%;
      height: 100%; }
      .footer .social .social-icon a:visited, .footer .social .social-icon a:link {
        color: #233828; }
      .footer .social .social-icon a:hover .fa {
        color: #bff775;
        -webkit-transition: 200ms ease all;
        transition: 200ms ease all; }

.footer div[class^="icon"] {
  margin: 0.2em 0; }

.copyright {
  width: 100%;
  text-align: center;
  padding: 1em; }
  .copyright p {
    margin: 0; }

.error {
  color: #A31919;
  -webkit-animation: fadeInOut 15s ease;
  animation: fadeInOut 15s ease; }

.fade {
  -webkit-animation: opacity 2s;
  animation: opacity 2s; }
